<p id="notice"><%= notice %></p>

<p>
  <strong>Domain:</strong>
  <%= @built_with.domain %>
</p>

<p>
  <strong>Location:</strong>
  <%= @built_with.location %>
</p>

<p>
  <strong>Company:</strong>
  <%= @built_with.company %>
</p>

<p>
  <strong>Vertical:</strong>
  <%= @built_with.vertical %>
</p>

<p>
  <strong>Telephones:</strong>
  <%= @built_with.telephones %>
</p>

<p>
  <strong>People:</strong>
  <%= @built_with.people %>
</p>

<p>
  <strong>Position:</strong>
  <%= @built_with.position %>
</p>

<p>
  <strong>Emails:</strong>
  <%= @built_with.emails %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @built_with.twitter %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @built_with.facebook %>
</p>

<p>
  <strong>Linkedin:</strong>
  <%= @built_with.linkedin %>
</p>

<p>
  <strong>Google:</strong>
  <%= @built_with.google %>
</p>

<p>
  <strong>Pinterest:</strong>
  <%= @built_with.pinterest %>
</p>

<p>
  <strong>Github:</strong>
  <%= @built_with.github %>
</p>

<p>
  <strong>Instagram:</strong>
  <%= @built_with.instagram %>
</p>

<p>
  <strong>Vk:</strong>
  <%= @built_with.vk %>
</p>

<p>
  <strong>Vimeo:</strong>
  <%= @built_with.vimeo %>
</p>

<p>
  <strong>Youtube:</strong>
  <%= @built_with.youtube %>
</p>

<p>
  <strong>City:</strong>
  <%= @built_with.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @built_with.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @built_with.zip %>
</p>

<p>
  <strong>Country:</strong>
  <%= @built_with.country %>
</p>

<%= link_to 'Edit', edit_built_with_path(@built_with) %> |
<%= link_to 'Back', built_withs_path %>
